a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
#navbar{
    padding: 5px;
    /* border: 1px solid black; */
    background-color: rgb(113, 157, 157);
    flex-direction: row-reverse;
    display: flex;
    
}
#navbar div{
    /* border: solid black; */
    margin-left: 20px;
}
#menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    text-align: center;
}
#menu div{
    width: 80%;
    border: 2px solid red;
    margin: auto;
    padding: 10px;
}
#menu img{
    width: 100%;
    height: 200px;
}
